<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Teddy - {% block title %}{% endblock title %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"
    </head>
    <body>
        <h1>Teddy - TimeEdit Data Improver</h1>
        {% include("_navigation.html") %}
        <section>
            <header>
                {% block header %}{% endblock header %}
            </header>
        </section>
        <main>
            {% block content %}<p>To be created</p>{% endblock content %}
        </main>
    </body>
</html>
